body{
    background-color: rgb(35, 16, 206);
}
.weather-container {
    display: flex;
    flex-wrap: wrap;
}
.forecast-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    background-color: rgb(11, 147, 238);
}
#history-container {
    background-color: rgb(14, 144, 204);
    border: 2px solid black;
    padding: 10px;
    margin-top: 20px;
    float: left;
}
/* Style for individual history items */
.history-item {
    padding: 5px;
    cursor: pointer;
    text-size-adjust: 12px;
}
.history-item:hover {
    background-color: #ddd;
}
